.arenaContained{
	max-width: 800px;
	margin: 0px auto;
	margin-bottom: 10px;
}

.overflowable{
	overflow: scroll;
}

#goalArea{
	margin-bottom: 10px;
}

#battlefield {
	border: 1px solid black;
	max-width: 800px;
	text-transform: uppercase;
}

.name{
	font-size: 24px;
}

img.pokemon{
	min-width: 35%;
	height: auto;
}


/*#commandArea{
	display: inline-block;
	margin: 0px auto;
}*/

#achievementsArea img{
	margin-right: 5px;
	margin-bottom: 5px;
	border: solid 2px black;
}


@media (max-width: 1200px) {
	#commandRow.arenaContained.row{
		width: 100%;
		max-width: 100%;
		position: absolute;
		bottom: 30px;
		z-index: 10;
		width: 100%;
	}

	#commandArea .row.mb-2{
		display: inline-block;
		width: 100%;
		margin: 0px auto;
		text-align: center;
	}
	#commandArea .row.mb-2 .col-2{
		float: none;
		display: inline-block;
		width: 25%;

	}
	#commandArea input.btn{
		font-size: 60px;
	}
}