.arenaContained{
	max-width: 800px;
	margin: 0px auto;
	margin-bottom: 10px;
}

.overflowable{
	overflow: scroll;
}

#goalArea{
	margin-bottom: 10px;
}

#battlefield {
	border: 1px solid black;
	max-width: 800px;
	text-transform: uppercase;
}

.name{
	font-size: 24px;
}

img.pokemon{
	min-width: 35%;
	height: auto;
}


/*#commandArea{
	display: inline-block;
	margin: 0px auto;
}*/

#achievementsArea img{
	margin-right: 5px;
	margin-bottom: 5px;
	border: solid 2px black;
}


@media (max-width: 1200px) {
  #commandArea {
  	position: absolute;
  	bottom: 30px;
  	z-index: 10;
  	width: 100%;
  	margin-left: 0px;
  	margin-right: 0px;
  	padding-left: 0px;
  	padding-right: 0px;
  }
  #commandArea input.btn{
  	font-size: 60px;
  }
}